.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand img {
  max-width: 100px;
}
.navbar .navbar-nav .nav-link {
  color: #000;
}
@media screen and (min-width: 1024px) {
  .navbar {
    letter-spacing: 0.1em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }
  .search-and-icons {
    width: 100%;
  }
  .search-and-icons form {
    flex: 1;
  }
}
@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 7em;
  }
  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .search-and-icons {
    display: flex;
    align-items: center;
  }
}
.search-and-icons form input {
  border-radius: 4px;
}
.search-and-icons form input:focus {
  background: #fff;
  box-shadow: none;
}
.search-and-icons .user-icons div {
  padding-right: 1em;
}
.contact-info p,
.contact-info a {
  font-size: 0.9em;
  padding-right: 1em;
  color: grey;
}
.contact-info a {
  padding-right: 0;
}

.profile-icon {
  border: none;
}

.profile-icon {
  display: flex;
  align-items: center;
}

.profile-icon span {
  flex-grow: 1;
}

profile-icon {
  position: relative;
}

.profile-icon .profile-info {
  display: none;
  position: absolute;
  right: 0;
  top: 60%;
  background-color: #544b4b;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.profile-icon:hover .profile-info {
  display: block;
}

.profile-info .list-group-item {
  background-color: transparent;
  color: #fafafa;
  padding: 0.5rem;
  border: none;
}

.profile-info .list-group-item svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.profile-info .list-group-item:hover {
  background-color: #444;
  color: #fff;
}

/* cart */
/* navbar.component.css */
.cart {
  position: relative;
  display: inline-block;
}

.cart .bi-cart3 {
  font-size: 1.5rem;
  color: #333; /* Adjust color as needed */
}
.bi-heart {
  font-size: 1.3rem;
}
.bi-person {
  font-size: 1.5rem;
}

.cart .badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.2em 0.4em;
  font-size: 0.8rem;
  font-weight: bold;
}
