<div class="container mt-2 mb-3">
  <div class="row mt-5">
    <div class="col-md-5 pr-2">
      <div class="card product-card">
        <div class="demo">
          <app-product-details-img-slider
            [images]="images"
            [interval]="0"
          ></app-product-details-img-slider>
        </div>
      </div>
    </div>
    <div class="details col-md-5">
      <h2 class="product-title">{{ product.name }}</h2>
      <!-- <div class="rating">
        <div class="stars">
          <span
            *ngFor="let star of [1, 2, 3, 4, 5]"
            class="fa fa-star"
            [class.checked]="star <= product.averageRating"
          ></span>
          &nbsp;&nbsp;
          <span class="review-no">({{ product.totalReviews }} reviews)</span>
        </div>
      </div> -->
      <div class="d-flex align-items-center">
        <app-star-rating
          [rating]="product.averageRating"
          [starColor]="'#FFAD33'"
          [starFill]="'#FFAD33'"
        ></app-star-rating>
        <span *ngIf="product.totalReviews > 0" class="text-muted">
          ({{ product.totalReviews }})
        </span>
      </div>
      <h4 style="font-weight: bold">Price:</h4>

      <div class="price">
        <div *ngIf="product.variants && product.variants.length > 0">
          <!-- Variant price -->
          <div *ngIf="product.discountValue > 0">
            <div class="text-muted text-decoration-line-through me-2">
              {{
                selectedVariant?.price
                  | currency : undefined : "symbol" : "1.0-0"
              }}
            </div>
            <span class="text-danger fw-bold">
              {{
                selectedVariant?.discountedPrice
                  | currency : undefined : "symbol" : "1.0-0"
              }}
            </span>
            <span class="text-success fw-bold ms-4">
              <span *ngIf="product.discountType === 'percentage'">
                -{{ product.discountValue }}%
              </span>
              <span *ngIf="product.discountType === 'fixed'">
                -{{
                  product.discountValue
                    | currency : undefined : "symbol" : "1.0-0"
                }}
              </span>
            </span>
          </div>
          <div *ngIf="product.discountValue === 0">
            {{
              selectedVariant?.price | currency : undefined : "symbol" : "1.0-0"
            }}
          </div>
        </div>

        <div *ngIf="!product.variants || product.variants.length === 0">
          <!-- Base product price -->
          <div *ngIf="product.discountValue > 0">
            <div class="text-muted text-decoration-line-through me-2">
              {{ product.price | currency : undefined : "symbol" : "1.0-0" }}
            </div>
            <span class="text-danger fw-bold">
              {{
                product.discountedPrice
                  | currency : undefined : "symbol" : "1.0-0"
              }}
            </span>
            <span class="text-success fw-bold ms-4">
              <span *ngIf="product.discountType === 'percentage'">
                -{{ product.discountValue }}%
              </span>
              <span *ngIf="product.discountType === 'fixed'">
                -{{
                  product.discountValue
                    | currency : undefined : "symbol" : "1.0-0"
                }}
              </span>
            </span>
          </div>
          <div *ngIf="product.discountValue === 0">
            {{ product.price | currency : undefined : "symbol" : "1.0-0" }}
          </div>
        </div>
      </div>

      <p class="description">{{ product.description }}</p>
      <hr class="my-4" />

      <div class="col-md-12 mt-4">
        <div class="form-group row">
          <div *ngIf="product.variants" class="col-md-12">
            <div *ngIf="sizes.length > 0" class="d-flex mb-2">
              <span class="font-weight-bold mt-2">Size : &nbsp;</span>
              <div class="my-color" style="margin-left: 17px">
                <label class="radio" *ngFor="let size of sizes">
                  <input
                    type="radio"
                    name="size"
                    [value]="size"
                    [(ngModel)]="selectedSize"
                    (ngModelChange)="updateSelectedVariant(selectedSize)"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <span>{{ size }}</span>
                </label>
              </div>
            </div>

            <div *ngIf="weights.length > 0" class="d-flex mb-2">
              <span class="font-weight-bold mt-2">Weight : &nbsp;</span>
              <div class="my-color">
                <label class="radio" *ngFor="let weight of weights">
                  <input
                    type="radio"
                    name="weight"
                    [value]="weight"
                    [(ngModel)]="selectedWeight"
                    (ngModelChange)="updateSelectedVariant(selectedWeight)"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <span>{{ weight }}</span>
                </label>
              </div>
            </div>

            <div *ngIf="colors.length > 0" class="d-flex">
              <span class="font-weight-bold mt-2">Color : </span>
              <div class="my-color" style="margin-left: 19px">
                <label class="radio" *ngFor="let color of colors">
                  <input
                    type="radio"
                    name="color"
                    [value]="color"
                    [(ngModel)]="selectedColor"
                    (ngModelChange)="updateSelectedVariant(selectedColor)"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <span [ngClass]="color">{{ color }}</span>
                </label>
              </div>
            </div>
            <div class="mt-3" *ngIf="selectedVariant">
              <span *ngIf="selectedVariant.stockQuantity > 0"
                >Stock : &nbsp;&nbsp;&nbsp;<span class="text-danger">{{
                  selectedVariant.stockQuantity
                }}</span></span
              >
              <span
                *ngIf="selectedVariant.stockQuantity === 0"
                class="text-danger"
                >Out of stock</span
              >
            </div>
          </div>
          <div *ngIf="!product.variants || product.variants.length === 0">
            <span *ngIf="product.stockQuantity > 0"
              >Stock : &nbsp;&nbsp;&nbsp;<span class="text-danger">{{
                product.stockQuantity
              }}</span></span
            >
            <span *ngIf="product.stockQuantity == 0" class="text-danger"
              >Out of stock</span
            >
          </div>

          <div class="row mb-4 mt-2">
            <div class="col-md-4 col-6">
              <div class="input-group mb-3" style="width: 170px">
                <button
                  class="btn btn-white border border-secondary px-3"
                  type="button"
                  (click)="decreaseCount()"
                  [disabled]="quantity <= 1"
                >
                  <i class="fas fa-minus"></i>
                </button>
                <input
                  type="text"
                  class="form-control text-center border border-secondary"
                  [(ngModel)]="quantity"
                  readonly
                />
                <button
                  class="btn btn-white border border-secondary px-3"
                  type="button"
                  (click)="increaseCount()"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="col-md-8 d-flex justify-content-between align-items-center text-center"
          >
            <div class="col-md-4">
              <button class="btn btn-primary shadow-0" (click)="buyNow()">
                Buy now
              </button>
            </div>
            <div class="col-md-6">
              <button
                class="btn btn-success shadow-0"
                (click)="addToCart(product, true)"
              >
                <i class="me-1 fa fa-shopping-basket"></i> Add to cart
              </button>
            </div>
            <div class="col-md-4">
              <button
                class="btn btn-light border border-secondary icon-hover px-3"
              >
                <i class="me-1 fa fa-heart"></i> Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
