table.table {
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table.table th,
table.table td {
  border: none;
  padding: 8px 12px;
}

table.table tbody tr:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group .btn {
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
}

.cart-summary {
  border-radius: 4px;
  border: none;
  background-color: #fff;
  box-shadow: 2px 2px 4px 6px rgba(0, 0, 0, 0.1);
}
