<div class="container mt-5">
  <h1 class="text-center">Billing Details</h1>
  <div class="row mb-5">
    <div class="col-md-7">
      <div class="card shadow-sm mt-4">
        <!-- Card Header -->
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h5 class="mb-0 text-center">Billing Information</h5>
          <a href="#" class="text-primary text-decoration-none">EDIT</a>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <!-- User Info Section -->
          <div class="mb-3">
            <p class="mb-1 fw-bold">{{ user.username }}</p>
            <p class="mb-0">{{ user.phone }}</p>
          </div>

          <!-- Address Section -->
          <div>
            <span class="badge bg-danger text-white">HOME</span>
            <p class="mt-2 mb-0">
              {{ user.address }}
            </p>
          </div>
        </div>
      </div>
      <div class="row p-2 mt-5">
        <div class="col-md-4 offset-md-4 text-end mb-5">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Cupone Code"
              [(ngModel)]="couponCode"
            />
          </div>
        </div>

        <div class="col-md-3 offset-md-1">
          <button class="btn btn-success btn-md">Apply Coupon</button>
        </div>

        <div class="col-md-8 text-end">
          <h2>Payment Method</h2>
        </div>

        <div class="col-md-3 offset-md-1">
          <div class="form-check">
            <input
              class="form-check-input form-check-input-lg"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
              [checked]="isDefaultChecked"
            />
            <label class="form-check-label" for="flexRadioDefault1">
              KBZ Pay
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
              [checked]="isRadio1Checked"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Cash on delivery
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 offset-md-1 mt-4">
      <div
        class="billing-details"
        *ngFor="let product of products; let i = index"
      >
        <div class="row p-2">
          <div class="col-md-3">
            <img
              [src]="product.images[0]"
              alt="Product Image"
              class="img-thumbnail"
              style="width: 54px; height: 54px"
            />
          </div>
          <div class="col-md-3 pt-3">{{ product.name }}</div>
          <div class="col-md-1 pt-3 text-end">{{ product.quantity }}</div>
          <div class="col-md-5 pt-3 text-end">
            {{ formatAmount(product.quantity * product.price) }}
          </div>
        </div>
      </div>
      <div class="row p-2 mt-2">
        <div class="col-md-6"><p class="total">Subtotal</p></div>
        <div class="col-md-6">
          <p class="total text-end">{{ formatAmount(getTotalPrice()) }}</p>
        </div>
      </div>
      <hr style="margin: 0" />
      <div class="row p-2 mt-3">
        <div class="col-md-6"><p class="total">Shipping</p></div>
        <div class="col-md-6">
          <p class="total text-end">{{ formatAmount(shippingFee) }}</p>
        </div>
      </div>
      <hr style="margin: 0" />
      <div class="row p-2 mt-3">
        <div class="col-md-6"><p class="total">Total</p></div>
        <div class="col-md-6">
          <p class="total text-end">
            <b>{{ formatAmount(getGrandTotalPrice()) }} MMK</b>
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="offset-md-6 col-md-2 d-flex justify-content-end">
        <button class="btn btn-success btn-md w-100" (click)="placeOrder()">
          Place Order
        </button>
      </div>
    </div>
  </div>
</div>
