<div class="container mt-5">
  <h2 class="mb-4 text-center">My Cancellations</h2>

  <div *ngFor="let order of cancelledOrders" class="mb-4">
    <div
      *ngFor="let product of order.products"
      class="card mb-3 shadow-sm product-card border-light"
    >
      <div class="row g-0 align-items-center">
        <div class="col-md-2 text-center p-3">
          <img
            [src]="product.image"
            alt="{{ product.name }}"
            class="img-fluid rounded"
            style="max-height: 100px; object-fit: cover"
          />
        </div>

        <div class="col-md-10">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <p class="fw-bold mt-4">
                  <strong>Name:</strong> {{ product.name }}
                </p>
              </div>

              <div class="col-md-3">
                <p class="mt-4"><strong>Qty:</strong> {{ product.quantity }}</p>
              </div>

              <div class="col-md-3">
                <p class="mt-4">
                  <strong>Price:</strong>
                  {{
                    product.price | currency : undefined : "symbol" : "1.0-0"
                  }}
                </p>
              </div>
              <div class="col-md-3">
                <p class="mt-4">
                  <strong>Sub total:</strong>
                  {{
                    product.subtotal | currency : undefined : "symbol" : "1.0-0"
                  }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
