<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-5 offset-md-2">
      <img
        src="assets/images/login-design.png"
        class="card-img"
        alt="Login Photo"
      />
    </div>
    <div class="col-md-4 p-5">
      <h1 class="text-center">Forgot Password</h1>
      <p>Enter your email below</p>
      <form>
        <div class="form-group col-12 mb-5">
          <input
            type="email"
            class="form-control custom-input"
            id="email"
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
            placeholder="email"
          />
        </div>

        <div class="row mt-4">
          <div class="col-md-6 mt-3">
            <div class="d-flex align-items-end">
              <button
                type="submit"
                (click)="onSubmit()"
                class="btn btn-danger"
                style="width: 80%"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
