<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <ul class="main-ul">
          <ng-container *ngFor="let category of categories">
            <li class="list-group-item main-menu">
              <a
                href="javascript:void(0);"
                (click)="getProductsByCategory(category._id)"
                class="list-group-item-action"
              >
                <span>{{ category.name }}</span>
              </a>

              <ng-container
                *ngIf="category.children && category.children.length > 0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                  fill="none"
                  class="icon"
                >
                  <path
                    d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z"
                    fill="black"
                  />
                </svg>
              </ng-container>

              <!-- Sub-menu for each category -->
              <ul class="sub-menu">
                <ng-container *ngFor="let subCategory of category.children">
                  <li class="list-group-item">
                    <a href="#" class="list-group-item-action sub-category">
                      {{ subCategory.name }}
                    </a>
                    <ng-container
                      *ngIf="category.children && category.children.length > 0"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="30"
                        height="30"
                        viewBox="0 0 24 24"
                        fill="none"
                        class="icon"
                      >
                        <path
                          d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z"
                          fill="black"
                        />
                      </svg>
                    </ng-container>
                    <!-- Nested menu for each subcategory -->
                    <ul class="nested-menu">
                      <ng-container
                        *ngFor="let childCategory of subCategory.children"
                      >
                        <li class="list-group-item">
                          <a href="#" class="list-group-item-action">
                            {{ childCategory.name }}
                          </a>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <app-image-slider
        [images]="sliderImages"
        [interval]="3000"
      ></app-image-slider>
    </div>
  </div>
  <!-- start flash sales-->
  <div class="row mt-5">
    <!-- <div class="col-sm-3">
      <P
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="40"
          viewBox="0 0 20 40"
          fill="none"
        >
          <rect width="20" height="40" rx="4" fill="#DB4444" />
        </svg>
        Today's</P
      >
      <p class="flashsale">Flash Sales</p>
    </div> -->
    <div class="col-sm-3">
      <div class="countdown">
        <p class="spaced-text">
          Days &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Minutes
          &nbsp;&nbsp;&nbsp;&nbsp;Seconds
        </p>
        <p class="countdowntime">{{ countdown }}</p>
      </div>
    </div>
    <h1 class="my-4"></h1>
    <div class="row">
      <div *ngFor="let product of products" class="col-md-2">
        <div class="product-card">
          <div class="productcontainer mb-4 position-relative">
            <div class="images">
              <a [routerLink]="['/product-details', product._id]">
                <img
                  [src]="product.images[0]"
                  class="card-img"
                  alt="Product Image"
              /></a>
              <button
                class="btn btn-success btn-sm add-to-cart-btn"
                (click)="addToCart(product)"
              >
                Add to Cart
              </button>
            </div>
            <div>
              <h5 class="product-title">{{ product.name }}</h5>
              <p class="price">{{ product.price }}</p>

              <div class="d-flex align-items-center">
                <app-star-rating
                  [rating]="product.averageRating"
                  [starColor]="'#FFAD33'"
                  [starFill]="'#FFAD33'"
                ></app-star-rating>
                <span *ngIf="product.totalReviews > 0" class="text-muted">
                  ({{ product.totalReviews }})
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row"></div>
  </div>
</div>
