<div class="container" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Action</a>
        <a
          href="#"
          class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
        >
          <span>Electronics</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            class="icon"
          >
            <path
              d="M12.95 11.636L8 6.68597L9.414 5.27197L15.778 11.636L9.414 18L8 16.586L12.95 11.636Z"
              fill="black"
            />
          </svg>
          <div class="sub-menu">
            <a href="#" class="list-group-item list-group-item-action"
              >Mobile</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Tablet</a
            >
            <a href="#" class="list-group-item list-group-item-action"
              >Samsaung Laptop</a
            >
          </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action"
          >Something else here</a
        >
        <a href="#" class="list-group-item list-group-item-action"
          >Separated link</a
        >
      </div>
    </div>
    <div class="col-sm-9">
      <ng-image-slider
        #nav
        [images]="imageObject"
        [infinite]="true"
        [autoSlide]="1"
        [imageSize]="{ width: '100%', height: 400 }"
        slideImage="1"
        [animationSpeed]="2"
      ></ng-image-slider>
    </div>
  </div>
  <!-- start flash sales-->
  <div class="row mt-5">
    <div class="col-sm-3">
      <P
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="40"
          viewBox="0 0 20 40"
          fill="none"
        >
          <rect width="20" height="40" rx="4" fill="#DB4444" />
        </svg>
        Today's</P
      >
      <p class="flashsale">Flash Sales</p>
    </div>
    <div class="col-sm-3">
      <div class="countdown">
        <p class="spaced-text">
          Days &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Hours&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Minutes
          &nbsp;&nbsp;&nbsp;&nbsp;Seconds
        </p>
        <p class="countdowntime">{{ countdown }}</p>
      </div>
    </div>
    <h1 class="my-4"></h1>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img5.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img1.jpg" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img2.jpg" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img3.jpg" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img4.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img5.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <button class="btn btn-danger">View All Product</button>
    </div>
    <hr class="my-4" />
  </div>
  <!-- end flash sales-->

  <!-- start best  selling-->

  <div class="row mt-5">
    <div class="col-md-6">
      <P
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="40"
          viewBox="0 0 20 40"
          fill="none"
        >
          <rect width="20" height="40" rx="4" fill="#DB4444" />
        </svg>
        This Month</P
      >
      <p class="flashsale">Best Selling Product</p>
    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-danger">View All</button>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img13.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img7.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img8.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img9.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img10.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img11.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>
  </div>
  <!-- end best  selling-->

  <!--start our product-->
  <div class="row mt-5">
    <div class="col-md-6">
      <P
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="40"
          viewBox="0 0 20 40"
          fill="none"
        >
          <rect width="20" height="40" rx="4" fill="#DB4444" />
        </svg>
        Our Products</P
      >
      <p class="flashsale">Explore Our Products
      </p>
    </div>
   
    <h1 class="my-4"></h1>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img5.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img1.jpg" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img2.jpg" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img3.jpg" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img4.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="productcontainer mb-4 position-relative">
        <div class="images">
          <img src="assets/images/img5.png" class="card-img" alt="Product 2" />
          <button class="btn btn-primary btn-sm add-to-cart-btn">
            Add to Cart
          </button>
        </div>
        <div>
          <h5 class="product-title">Product 1 test</h5>
          <p class="price">$19.00</p>
          <app-star-rating
            [rating]="5"
            [starColor]="'#FFAD33'"
            [starFill]="'#FFAD33'"
          ></app-star-rating>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <button class="btn btn-danger">View All Product</button>
    </div>
    <hr class="my-4" />
  </div>
    <!--end our product-->
    


    <div class="row">

    </div>

</div>
